<!DOCTYPE html>
<html lang="fr" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Reasonnance</title>
        <link rel="stylesheet" href="assets/css/index.css">
    </head>
    <body>
        <main>
            <div id="presentation-container">
                <h1 class="title">Bienvenue sur Resonance Sandbox !</h1>
                <div class="content-container">
                    <p>
                        Cette application à été réalisée dans le cadre d'une <b>expérimentation visant à comprendre
                        l'outils </b> <a href="https://resonance-audio.github.io/resonance-audio/">Resonance Audio</a>, ce dernier permet notamment
                        la spatialisation de sons sur différentes platformes. Nous vous proposons via notre interface de tester cette spatialisation, pour cela voici
                        un petit guide pratique présentant étape par étape la marche à suivre :
                    </p>
                    <b>Guide pratique:</b>
                    <ol>
                        <li>
                            Lancer l'expérience en <b>appuyant sur le bouton "Démarrer l'expérience !"</b>, un avatar apparait dans le canvas.
                        </li>
                        <li>
                            À partir de la liste des sons, <b>glisser / déposer des sons dans le canvas</b> (drag and drop), les sons spatialisés se lancent automatiquement.
                        </li>
                        <li>
                            Dans le canvas <b>déplacer l'avatar ou les sons</b> pour expérimenter la spatialisation.
                        </li>
                        <li>
                            Utiliser <b>le pannel de contrôle</b> en bas de page pour <b>gérer les sons en cours de lecture</b>.
                        </li>
                        <li>
                            Importer un son depuis votre ordinateur an cliquant sur <b>"ajouter une source audio"</b> (lien en bas de la liste des sons).
                        </li>

                    </ol>
                </div>
            </div>




            <div id="scene-container">
                <div id=scene-canvas-container>
                    <canvas id="scene-canvas"></canvas>
                </div>
                <aside id="sounds-container">
                    <h1>
                        Liste des sons :
                    </h1>
                    <div id="sounds-bag">
                        <% sounds.forEach(sound => { %>
                            <div draggable="true" data-ext="<%= sound.ext %>" data-path="<%= sound.path %>" class="sound-item">
                                <%= sound.path %>.<%= sound.ext %>
                            </div>
                        <% }); %>
                    </div>
                    <div >
                        <a id="upload-controller" href="">ajouter une source audio</a>
                    </div>

                    <div id="upload-container">
                        <form class="hidden" id="upload-form" method="POST" enctype="multipart/form-data">
                            <div id="sounds-input__container">
                                <input id="sounds-upload__input" name="sounds" type="file"  accept="audio/*" multiple />
                                <button id="sounds-upload__button" type="button">Parcourir</button>
                                <span id="sounds-upload__label"></span>
                            </div>
                            <button id="sounds-upload__submit" type="submit">Enregistrer</button>
                        </form>
                    </div>
                </aside>
            </div>

            <button id="play-btn" type="button" name="button">Démarrer l'expérience !</button>
            <div class="sounds-table-container">
                <table class="sound-table">
                    <thead>
                    <tr>
                        <th>Son</th>
                        <th>Status</th>
                        <th>Supprimer</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="no-data" colspan="3">Aucun son n'est actuellement dans la page</td>
                        </tr>
                        <tr>
                            <td class="play-all-row" colspan="3">
                                <button class="play-all single-button single-pause-button">Stop All</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </main>

        <script src="resonance/build/resonance-audio.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="assets/js/index.js" type="module"></script>
    </body>
</html>
