body{
    background-color: white;
}

main{
    width: 80%;
    margin: auto;
}

#scene-canvas {
    background-color: white;
    border: 1px solid black;
}

#scene-container {
    text-align: center;
    display: grid;
    grid-template-columns: 5fr 1fr;
}

#sounds-container {
    background-color: #227A5E;
    border-radius: .25rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    text-align: center;
}

.sound-item{
    color: white;
    border-bottom: solid 1px white;
    padding: 0.5em;
}

.sound-item:hover{
    cursor: pointer;
    color: black;
    background-color: #73C7AC;
}
#upload-container{
    margin-top: 0.5rem;
}

.hidden{
    display: none;
}

.sound-table {
    text-align: center;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.sound-table thead tr {
    background-color: #009879;
    color: #ffffff;
}

.sound-table th,
.sound-table td {
    padding: 12px 15px;
}

.sound-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.sound-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.sound-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.sound-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.sound-table img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
