body{
    background-color: #F2F2F2;
}

main{
    width: 80%;
    margin: auto;
}

.play-all-row {
    display: none;
}

.sound-path-cell {
    font-weight: bold;
}

.single-button {
    background-color: #FF5500;
    color: white;
    font-weight: bold;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 5px;
    margin-top: 5px;
}

.single-pause-button {
    background-color: lightgrey;
    color: black;
}

#play-btn {
    background-color: #FF5500;
    color: white;
    font-weight: bold;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 20px;
}

.sounds-table-container {
    width: 100%;
}

#scene-canvas {
    background-color: white;
    border: 1px solid #333;
    display: block;
}

#scene-canvas-container {
    max-height: 80vh;
}

#scene-container {
    color: #333;
    text-align: center;
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-gap: 2rem;
}

#sounds-bag{
    margin-bottom: 0.5rem;
}

#sounds-container {
    width: 400px;
    overflow-y: scroll;
    height: 80vh;
    border-top: solid 5px FF5500;
    ;
    background-color: white;
    border-radius: 0rem 0rem 0.25rem .25rem;
    box-shadow: 0 0.8rem 1rem rgba(17, 17, 17, 0.15);
    text-align: center;
    font-family: sans-serif;
}

.sound-item-loader {
    color: white;
    background-color: FF5500;
    border-radius: 1px;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

.sound-item{
    color: white;
    background-color: rgba(17, 17, 17,0.8);
    border-radius: 1px;
    margin: 0rem 2rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

.sound-item:last-of-type{
    margin-bottom: 0rem;
}

.sound-item:hover{
    cursor: pointer;
}

#upload-container{
    margin: 1rem;
}

#sounds-input__container{
    align-items: center;
    font-size: 12pt;
}

#sounds-upload__input{
    display: none;
}

#sounds-upload__button{
    margin-right: 15px;
}

#sounds-upload__submit{
    margin-top: 1em;
}

#sounds-upload__button, #sounds-upload__submit{
    -webkit-appearance: none;
    background:  #FF5500;
    border:none;
    border-radius: 4px;
    outline: none;
    padding: 0.5rem 0.8rem;
    color: white;
    font-size: 12pt;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
}

#sounds-upload__button:active {
    background-color: #00745D;
}

#sounds-upload__label {
    max-width: 100%;
    display: inline-block;
    color: #333;
    font-family: sans-serif;
    padding: 0.25rem;
    text-overflow: ellipsis;
    overflow: hidden;
}

#upload-container .hidden{
    display: none;
}

.sound-table {
    text-align: center;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 100%;
}

.sound-table thead tr {
    background-color: #FF5500;
    color: #ffffff;
}

.sound-table th,
.sound-table td {
    padding: 12px 15px;
}

.sound-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.sound-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.sound-table tbody tr:last-of-type {
    border-bottom: 2px solid #FF5500;
}

.sound-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.sound-table img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

@media screen and (max-width: 1250px) {
    #scene-container{
        grid-template-columns: 1fr;
    }

    #sounds-container{
        width: 100%;
        height: inherit;
        max-height: 50vh;
    }

    main{
        text-align: center;
    };
}

#presentation-container{
    font-family: sans-serif;
    background-color: white;
    margin-bottom: 3rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#presentation-container .title{
    text-align: center;
    padding: 1rem 0rem;
    background-color: #FF5500;
    color: white;
    margin: 0;
}

#presentation-container .content-container{
    padding: 1rem;
    color: #333;
}

#presentation-container .content-container li{
    padding: 0.5rem;
}

#presentation-container .content-container ol{
    margin: 0;
}

